.font_clr {
  color: #201f4a;
}

.font_clr_2 {
  color: white !important;
}

.rightt_align {
  justify-content: end !important;
}

.modify_steps_margin {
  margin: 15px !important;
}

.spc_between {
  justify-content: space-between;
}

.add_border {
  border: 1px solid #c8c8d5;
  border-radius: 11px;
  min-height: 100px;
}

.cnt_align {
  text-align: center;
}

.spc_evenly {
  justify-content: space-evenly;
}

.width_num {
  width: 70px !important;
}

.your-grid-container {
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}

.ovr_flow {
  overflow-x: auto;
}

.inside_width {
  width: 977px;
}

.font_clr_3 {
  color: #344767;
}

.nav_styles {
  box-shadow: 0 0px 10px 0 rgb(0 0 0 / 5%) !important;
  background-color: white !important;
}

.margin_right_cls {
  margin-right: 20px !important;
}

.date_width {
  width: 20px !important;
}

.earning_check:hover {
  background-color: rgb(13, 49, 80);
  cursor: pointer;
}

.custom_card:hover {
  cursor: pointer;
}

.custom_card {
  height: 100px;
  color: white !important;
  background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253)) !important;
}
